<h1>New topic</h1>

<% form_for(@topic) do |topf| %>
  <%= topf.error_messages %>

  <p>
	<div>
	  <%= topf.label :name, 'topic:' %>
	  <%= topf.text_field :name %>
	</div>

  </p>
  <p>
    <%= topf.submit 'Create' %>
  </p>
<% end %>


<%= link_to 'Back', topics_path %>