<h1>New letter</h1>

<% form_for(@letter) do |lf| %>
  <%= lf.error_messages %>

  <p>
    <%= lf.label :letter_date %><br />
    <%= lf.date_select :letter_date %>
  </p>	
  <p>
    <%= lf.label :author_name %><br />
    <%= lf.text_field :author_name %>
  </p>
  <% lf.fields_for :topics do |topf| %>
	<p>
	<div>
	  <%= topf.label :name, 'Topic:' %>
	  <%= topf.text_field :name %>
	</div>
	
	<% unless topf.object.new_record? %>
	  <div>
		<%= topf.label :_delete, 'Remove:' %>
		<%= topf.check_box :_delete %>
	  </div>
	<% end %>
	</p>
  <% end %>
  <p>
    <%= lf.label :birth_date %><br />
    <%= lf.date_select :birth_date %>
  </p>
  <p>
    <%= lf.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', letters_path %>